@{
    ViewData["Title"] = "Home Page";
}

<h1><b>Лабораторная работа 1</b></h1>
<h2><b>Список</b></h2>
<ol>
    <ul class="list-inline">
        <li class="list-inline-item">А. элемент</li>
        <li class="list-inline-item">1 списка</li>
    </ul>
    <ul class="list-inline">
        <li class="list-inline-item">B. элемент</li>
        <li class="list-inline-item">2 списка</li>
    </ul>
</ol>
<hr />
<h2><b>Форма</b></h2>
<form>
    <!-- Checkbox -->
    <div class="row mb-2">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Чек-бокс 1
                </label>
            </div>
        </div>
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Чек-бокс 2
                </label>
            </div>
        </div>
    </div>
    <!-- Checkbox end -->
    <!-- Radio -->
    <fieldset class="col-sm-3 row mb-3 offset-sm-2">
        <legend class="col-form-label col-sm-2 pt-0"></legend>
        <div class="row row-cols-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                    Радио-1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                    Радио-2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                <label class="form-check-label" for="gridRadios3">
                    Радио-3
                </label>
            </div>
        </div>
    </fieldset>
    <!-- Radio end -->
    <!-- Login/Password -->
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Логин:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Введите имя">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Введите пароль">
        </div>
    </div>
    <!-- Login/Password end-->
    <button type="submit" class="btn btn-primary row mb-3">Отправить</button>
</form>

    
    
        

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
